#!/bin/bash

# For containerized deployments, the unit file looks like: ceph-osd@sda.service
# For non-containerized deployments, the unit file looks like: ceph-osd@NNN.service where NNN is OSD ID
for unit in $(systemctl list-units | grep -E "loaded * active" | grep -oE "ceph-osd@([0-9]+|[a-z]+).service"); do
  # First, restart daemon(s)
  systemctl stop "${unit}"
  systemctl reset-failed "${unit}"
  systemctl start "${unit}"
  
done
